.hidden {
  display: none;
}
.page {
  background-color: darkgray;
  display: flex;
}

.content {
  width: 1440px;
  min-height: 920px;
  margin: 50px auto;
}

.tabs-container {
  border: 1px solid black;
  background-color: antiquewhite;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tab{
  width: 300px;
  min-height: 75px;
  background-color: aliceblue;
  border-radius: 16px;
}

.tab-title {
  margin: 10px auto 10px 5px;
  font-size: 25px;
  font-weight: bold;
}

.tab-button {
  min-height: 35px;
  width: 90%;
  margin: 0 auto 10px 10px;
  border-radius: 16px;
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 1px solid #feac32;
}

.tab-button:hover {
  background-image: linear-gradient(#ffcc4c, #ed9107);
}

.tab-content{
  width: 100px;
  text-align: center;
  margin: 7px 0;
  padding: 7px 0;
  background-color: #0e61a9;
  color: white;
  border-radius: 16px;
}